/* reset.css inspirado no "A Modern CSS Reset" de Andy Bell */

:where(html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video) {
  all: unset;
  display: revert;
}

:where(*) {
  box-sizing: border-box;
}

:where(html) {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

:where(main) {
  display: block;
}

:where(body) {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

a{
  text-decoration: none;
}

ul,ol{
  list-style: none;
}

:where(a) {
  color: inherit;
  text-decoration: inherit;
}

:where(ol, ul) {
  list-style: none;
}

:where(html:focus-within) {
  scroll-behavior: smooth;
}

:where(table) {
  border-collapse: collapse;
}

:where(button, [role="button"]) {
  cursor: pointer;
}

:where(:where(button, [type="button"], [type="reset"], [type="submit"])) {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
}

:where(input::-moz-focus-inner, button::-moz-focus-inner) {
  border: 0;
  padding: 0;
}

:where(input, button, textarea, select) {
  border: none;
  background: none;
}

:where(*:where(:focus-visible)) {
  outline: max(2px, 0.15rem) solid Highlight;
  outline-offset: max(2px, 0.15rem);
}

:where(:where(:focus-visible))::-moz-focus-inner {
  border: 0;
}
